# DB Configuration
DATABASE=
DBHOST=
DBPASSWORD=
DBUSER=

# Server Environment
NODE_ENV=
PORT=

# Security
JWT_SECRET=

# MEDIA SERVER
MEDIA_SERVER=
MEDIA_SERVER_PATH=
ENV_CHECKS_FOR_MAIL=


# SMTP
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
DEFAULT_FROM=
DEFAULT_REPLY_TO=

# COUNTRY
DEFAULT_COUNTRY_CODE=

# TWILIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_ID=

EXCEPTION_MAIL=


# CDK
COMMUNITY_ID=
CDK_BASE_URL=
ROOFTOP_ID=
PARTNER=
VERSION=
SHARED_KEY=
CUSTOMER_ID=
CUSTOMER_PASSWORD=
AUTHORIZATION_KEY=
AUTHORIZATION_PREFIX=
CUSTOMER_PASSWORD=

# BrowserAraibia
URL=
USERNAME=
PASSWORD=
SENDER=


# Areeba
AREEBA_URL=
MERCHANT_ID=
OperatorId=
USERID=

#AWS
SES_API_VERSION=
AWS_REGION=

#email
ENV_CHECKS_FOR_MAIL=